    .fullpage {background-color:#78c190; width:350px; border: 1px solid black; margin: 0 auto;}
    .inputbox {width:343px; padding-bottom:5px; padding-top:5px; margin-bottom:2px;} 
	.title {color:black; padding-bottom:8px; padding-top:8px; text-align: center; }
	.submitbutton input{width:350px; background-color:#f16d26}